.item-container{
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.item > span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.item span a{
    color: inherit;
}
span{
    align-items: center;
}
